<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New Click", new_myclick_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>File Name</th>
         <th>Doenload</th>
         <th></th>
         
      </tr>
   </thead>
   
   <tbody>
      <% @myclick.each do |myclick| %>
         <tr>
            <td><%= myclick.name %></td>
            <td><%= link_to "Download File", myclick.attachment_url %></td>
            <td><%= button_to "Delete",  myclick, method: :delete, confirm: "Are you sure that you wish to delete #{myclick.name}?", class: "btn btn-danger"%></td>
         </tr>
       <% end %>
   </tbody>
   
</table>